/* Login */

body
{font-family: 'Fira Sans', sans-serif;}
.login-body
{background-image: url(../images/gradient.png); background-repeat: repeat-x; background-color:#5A96D5;}


.login-panel
{background-color: #f1f1f1; padding: 5%;}

.login-panel p
{padding: 4%; }

.login-panel button
{border-radius: 0;}
